body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.section {
  width: 480px;
  margin: 0 auto 40px auto;
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

.add-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #000;
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-row {
  gap: 10px;
  align-items: center;
}

.input-row input {
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  background-color: #f0f0f0;
  box-sizing: border-box;
}


.input-row button.delete-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #ccc;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.calculate-btn {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.divider {
  width: 480px;
  height: 1px;
  margin: 40px auto;
  background-color: #e0e0e0;
}

.section.fixed-row-1 .input-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 10px;
}

.section.fixed-row-2 .input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
